@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --BTN-BG-COLOR: #f5f7fb;
  --COLOR: #293264;
}

body,
html {
  margin: 0;
}
body {
  color: var(--COLOR);
  font-family: Karla, sans-serif;
  line-height: 1.4em;
  font-size: 0.9em;
  background: var(--BTN-BG-COLOR);
  background-image: url("./images/blobs.png"), url("./images/blobs1.png");
  background-repeat: no-repeat;
  background-position: top right, bottom left;
}
h3 {
  font-size: 2em;
  letter-spacing: 0.1em;
  font-weight: 600;
}

button {
  background-color: #4d5b9e;
  font-size: 1em;
  letter-spacing: 0.06em;
  color: var(--BTN-BG-COLOR);
  width: 193px;
  height: 52px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.loading-text {
  text-align: center;
}

.error-text {
  text-align: center;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 550px;
}
.quiz-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.submit-btn {
  margin: 40px auto;
}

.quiz-container p {
  font-weight: bold;
}

.answers-container {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.options-btn {
  background: none;
  color: var(--COLOR);
  border: 1px solid var(--COLOR);
  font-size: 0.8em;
  padding: 0;
  min-height: 10px;
}
.selected {
  background-color: #d6dbf5;
}
.correct {
  background-color: #94d7a2;
}

.incorrect {
  background-color: #f8bcbc;
}

.results-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
}
.result-text {
  font-weight: bold;
  padding-right: 20px;
}
